.block-container.css-18e3th9.egzxvld2 {
    padding-top: 0;
}
header.css-vg37xl.e8zbici2 {
    background: none;
}
span.css-10trblm.e16nr0p30 {
    color: #2c39b1;
}
.css-1dp5vir.e8zbici1 {
    background-image: linear-gradient(
    90deg, rgb(130 166 192), rgb(74 189 130)
    );
}
.css-tw2vp1.e1tzin5v0 {
    gap: 10px;
}
.css-50ug3q {
    font-size: 1.2em;
    font-weight: 600;
    color: #2c39b1;
}
.row-widget.stSelectbox {
    padding: 10px;
    background: #d2d2d2;
    border-radius: 7px;
}
.row-widget.stRadio {
    padding: 10px;
    background: #d2d2d2;
    border-radius: 7px;
}
label.css-r4awx4.effi0qh3 {
    font-variant: small-caps;
    font-size: 1.0rem;
    border-bottom: 3px solid #82a6c0;
}
label.css-cgyhhy.effi0qh3, span.css-10trblm.e16nr0p30 {
    font-weight: bold;
    font-variant-caps: small-caps;
    border-bottom: 3px solid #4abd82;
}
.css-12w0qpk.e1tzin5v2 {
    background: #d2d2d2;
    border-radius: 8px;
    padding: 5px 10px;
}
label.css-18ewatb.e16fv1kl2 {
    font-variant: small-caps;
    font-size: 1em;
}
.css-1xarl3l.e16fv1kl1 {
    float: right;
}
h1#liverpool-chapter {
    padding: 0;
}
h1#liverpool-chapter span.css-10trblm.e16nr0p30 {
    border-bottom: none;
    font-variant: inherit;
}
div[data-testid="stSidebarNav"] li div a {
    margin-left: 1rem;
    padding: 1rem;
    width: 300px;
    border-radius: 0.5rem;
}
div[data-testid="stSidebarNav"] li div::focus-visible {
    background-color: rgba(151, 166, 195, 0.15);
}
svg.e1fb0mya1.css-fblp2m.ex0cdmw0 {
    width: 2rem;
    height: 2rem;
}
